
.input-field {
    width: 60%;
}

.form-control {
    border-radius: 5px;
    margin-bottom: 2%;
    height: 7vh;
    width: 10px;
}

.message {
    height: 10vh;
}
.send-btn {
    justify-content: center;
    width: 50%;
    height: 7vh;
    border-radius: 5px;
    background-color: rgb(162, 162, 162);
    color: white;
    font-size: larger;
}